* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f7931a;
  --primary-soft-color: #ffe9d4;
  --just-white: #ffffff;
  --off-white: #faf8f7;
  --grey: #bababa;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --linear-bg: #201e1c, #f7931a;
  --black: #000000;
  --grey-text: #757575;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.6rem;
  color: var(--just-white);
  align-self: center;
}

.header--title-container p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--primary-soft-color);
  font-weight: 500;
  margin-top: 2.4rem;
}

.header--title-container .header--button {
  position: absolute;
  display: block;
  margin-top: 3.4rem;
  top: 270px;
  left: calc(50% - 115px);
  width: 229px;
  height: 48px;
  padding: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  background-color: var(--off-white);
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.header--title-container span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  background-image: url(./assets/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  height: auto;
  min-width: 320px;
  background-color: var(--off-white);
}

.main-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-container__bgimg {
  background-image: url(./assets/images/Bitcoin.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.main-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 48px;
}

.main-container__title h2 {
  color: var(--warm-black);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.main-container__title p {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 24px;
}

.main-container__tables {
  margin-top: 48px;
}
